.tabs-wrapper>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 24px;
}

.tabs-wrapper>ul>li {
    background-color: gray;
    cursor: pointer;
    text-align: center;
}

.tabs-wrapper>ul>li.active {
    border-bottom: 3px solid red;
}